<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
 
<!-- =================  Log4j Configuration  =================-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
 
<!-- =================  Appenders  =================-->

<!--  Console Appender  --> 
<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="error"/> 
    <param name="Target" value="System.out"/> 
    <layout class="org.apache.log4j.PatternLayout"> 
        <param name="ConversionPattern" value="%5p (%d{DATE}) [%t] - %m%n"/> 
    </layout> 
</appender>
 

<appender name="SpringRollingFileAppender" class="org.apache.log4j.RollingFileAppender">
     
    <param name="File" value="logs/btu_spring.log"/> 
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="10MB"/> 
    <param name="MaxBackupIndex" value="10"/> 
    <layout class="org.apache.log4j.PatternLayout"> 
        <param name="ConversionPattern" value="%5p %C{1} (%d{DATE}) [%t] - %m%n"/> 
    </layout> 
</appender>


<appender name="FXCMRollingFileAppender" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="logs/btu.log"/> 
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="10MB"/> 
    <param name="MaxBackupIndex" value="10"/> 
    <layout class="org.apache.log4j.PatternLayout"> 
        <param name="ConversionPattern" value="%5p (%d{DATE}) [%t] - %m%n"/> 
    </layout> 
</appender>


<!-- =================  Async Appenders  =================--> 

<!--  AsyncConsoleAppender  -->
<appender name="AsyncConsoleAppender" class="org.apache.log4j.AsyncAppender"> 
    <appender-ref ref="ConsoleAppender"/> 
</appender>


<appender name="AsyncFXCMRollingFileAppender" class="org.apache.log4j.AsyncAppender"> 
    <appender-ref ref="FXCMRollingFileAppender"/> 
</appender>

<appender name="AsyncSpringRollingFileAppender" class="org.apache.log4j.AsyncAppender"> 
    <appender-ref ref="SpringRollingFileAppender"/> 
</appender>


<!-- =================  Loggers  =================-->


<!--  com.fxcm logger  -->

<logger name="com.fxcm" additivity="false"> 
    <level value="debug"/>
    <appender-ref ref="AsyncFXCMRollingFileAppender"/> 
</logger>

<logger name="org.springframework" additivity="false"> 
    <level value="debug"/>
    <appender-ref ref="AsyncSpringRollingFileAppender"/> 
</logger>


<!--  Root logger  --> 
<root>
    <level value="fatal"/>
    <appender-ref ref="AsyncConsoleAppender"/>
</root>

</log4j:configuration>
